<h1 class="text-3xl font-bold mb-6">Events</h1>

<%= link_to "New Event", new_event_path, class: "btn btn-primary mb-6" %>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class: "block card shadow-md hover:shadow-lg hover:bg-base-200 active:bg-base-300" do %>
      <div class="card-body block card shadow-md hover:shadow-lg hover:bg-base-200 active:bg-base-300">
        <h2 class="card-title text-xl font-bold"><%= event.title %></h2>
        <p class="text-base-content"><%= event.description %></p>
        <br>
        <h3 class="text-xl font-semibold">Date & Time</h3>
        <p class="text-base-content"><%= event.start_time.strftime("%A, %d %B %Y, %I:%M %p") %></p>
      </div>
    <% end %>
  <% end %>
</div>
